.about_us_restaurant_info_container{
    float:left;
    position: relative;
    left: 40px;
}

.about_us_restaurant_img{
    float: right;
    height: 350px;
    position: relative;
    width: 700px;
    right: 50px;
    top: 20px;
}

.about_us_restaurant_info_header{
    position: relative;
    left: 30px;
    font-size: 50px;
}

.about_us_restaurant_info_paragraph{
    font-size: 30px;
    position: relative;
    left: 10px;
    width: 500px;
}

.about_us_working_hours_header{
    font-size: 50px;
}

.about_us_working_hours_table ,tr,td{
    border: 1px solid black;
}

.about_us_working_hours_container{
    position: relative;
    top: 150px;
    float: right;
    left: 470px;
}

.about_us_working_hours_img{
    float: left;
    width: 400px;
    position: relative;
    bottom: 135px;
    left:50px
}

.about_us_social_accounts_container{
    float:left;
}

.about_us_social_accounts_header{
    position: relative;
    top: 270px;
    font-size: 50px;
    right: 340px;
}

.about_us_face{
    width: 250px;
    position: relative;
    right: 296px;
    bottom: 48px;
}

.about_us_insta{
    position: relative;
    width: 110px;
    bottom: 68px;
    right: 310px;
}

.about_us_twitter{
    width: 130px;
    position: relative;
    bottom: 64px;
    right: 279px;
}

.about_us_whats{
    width: 180px;
    position: relative;
    bottom: 36px;
    right: 280px;
}

.about_us_social_accounts_icons{
    position: relative;
    top: 243px;
    right: 100px;
}
